<h1>Sample of flex grid</h1>
<p>This is a sample to implement a responseive Grid with PrimeNG FlexGrid</p>
<div class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-3">
      <div class="box">p-col-12 p-md-6 p-lg-3</div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
      <div class="box">p-col-12 p-md-6 p-lg-3</div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
      <div class="box">p-col-12 p-md-6 p-lg-3</div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
      <div class="box">p-col-12 p-md-6 p-lg-3</div>
  </div>
</div>